Daily AI News Summary & Email Digest/Daily AI News Agent.json
{
  "name": "Daily AI News Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -560,
        496
      ],
      "id": "33012b9c-cce0-437b-8191-f3a6a9890b29",
      "name": "Run every day at 7AM",
      "notesInFlow": true,
      "notes": "Double-click to open"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85b5c530-2c13-4424-ab83-05979bc879a5",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        288
      ],
      "id": "db427f86-8442-42fc-81ed-3db45fbccbd2",
      "name": "Output",
      "notesInFlow": true,
      "notes": "Double-click to open"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        288
      ],
      "id": "672dffb4-4e9f-4a9f-9fb0-280f14f6e621",
      "name": "Click ‘Execute workflow’ to run"
    },
    {
      "parameters": {
        "content": "## ⚡ Start here:",
        "height": 224,
        "width": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        224
      ],
      "id": "79ea0f3a-fb72-4fde-8f9f-16383c239d58",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -272,
        512
      ],
      "id": "40f7aafc-549d-41ce-b050-2952a9de4466",
      "name": "OpenAI Model",
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "e3Kx59bDOlJ1gYbK",
          "name": "n8n free OpenAI API credits"
        }
      },
      "notes": "Double-click to open"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize AI  latest news from the last 24 hours. \nSkip your comments. \nThe titles should be \"AI news:\"\nToday is {{ $today }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -272,
        288
      ],
      "id": "f0919b46-a6ac-4059-9088-5476a6b38a4c",
      "name": "AI Summary Agent",
      "notesInFlow": true,
      "notes": "Double-click to open"
    },
    {
      "parameters": {
        "content": "### Double click here to see the results:",
        "height": 240,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        208
      ],
      "id": "5ed03d0c-a079-4ef2-b55e-036e507c0dde",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "sendTo": "mindmintuser7@gmail.com",
        "subject": "Your Daily AI News Summary",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        432,
        288
      ],
      "id": "ab373347-b83b-4fcf-a00f-42ac6929f9ce",
      "name": "Send summary by email",
      "webhookId": "093b04f1-5e78-4926-9863-1b100d6f2ead",
      "notesInFlow": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "mEywCmsI1YNEzJ3d",
          "name": "Gmail account"
        }
      },
      "notes": "Double-click to open"
    },
    {
      "parameters": {
        "url": "https://www.theguardian.com/technology/artificialintelligenceai/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedReadTool",
      "typeVersion": 1.2,
      "position": [
        -16,
        512
      ],
      "id": "ad67f96a-ee26-486d-af2b-ffa497972db7",
      "name": "Get AI News"
    }
  ],
  "pinData": {},
  "connections": {
    "Run every day at 7AM": {
      "main": [
        [
          {
            "node": "AI Summary Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Click ‘Execute workflow’ to run": {
      "main": [
        [
          {
            "node": "AI Summary Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Summary Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Summary Agent": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AI News": {
      "ai_tool": [
        [
          {
            "node": "AI Summary Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Output": {
      "main": [
        [
          {
            "node": "Send summary by email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0d401b83-c813-494d-af45-286cd2363d4b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2c1e04696e0f33c768eb745be352231d38fb23227ba7be41a801521557491505"
  },
  "id": "lu2VJ8ya_uJ0nY90-Yn7_",
  "tags": []
}