RAG-Powered Enterprise Knowledge Assistant/My RAG System.json
{
  "name": "My RAG System",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "61596154-da2a-445e-a8ef-948c1c1ad38d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1jvwR7wh9shNuFR-YmQXzpSfnUlG26DMs",
            "mode": "list",
            "cachedResultName": "AAA",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1jvwR7wh9shNuFR-YmQXzpSfnUlG26DMs"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "a671c804-25eb-422e-b9d5-706eb00b4611",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ni1P9aNmHjizR6OQ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "093c76ac-903c-44a1-8f59-ee23fa57618a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ni1P9aNmHjizR6OQ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "c1a4ba7b-a9f3-48d4-ab96-f9a432e5321c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "resumetest",
          "mode": "list",
          "cachedResultName": "resumetest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        864,
        16
      ],
      "id": "0f5c2c4f-7202-47e6-8b57-49a542363942",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "sOSIbGv1fG8jWjng",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        800,
        240
      ],
      "id": "dca8aa92-293c-40ec-94f7-109de3bfdeee",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "e3Kx59bDOlJ1gYbK",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        976,
        256
      ],
      "id": "25840b97-4c2a-43f8-9cfe-09eca0ec0940",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        976,
        432
      ],
      "id": "17b3e703-ae4e-456f-900f-3eed8e8fbedf",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        64,
        608
      ],
      "id": "3a852520-41f2-4926-ab46-a70e2bbc9b36",
      "name": "When chat message received",
      "webhookId": "61c6ba79-6a26-4b9c-83bd-3f2699b01a13"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a Retrieval-Augmented Generation (RAG) assistant.\n\nYour role is to answer user questions strictly and exclusively using the information provided in the retrieved context.\n\nRULES (MANDATORY):\n1. Use ONLY the provided context to answer the question.\n2. Do NOT use prior knowledge, assumptions, or external information.\n3. If the answer is not explicitly present in the context, respond exactly with:\n   \"I don’t know based on the provided documents.\"\n4. Do NOT hallucinate, infer, or speculate.\n5. Do NOT add facts, explanations, or examples that are not grounded in the context.\n6. Maintain factual accuracy and clarity.\n7. If multiple documents provide conflicting information, state that the documents conflict.\n8. Cite or reference the relevant parts of the context when appropriate.\n\nOUTPUT GUIDELINES:\n- Be concise and precise.\n- Prefer bullet points for structured answers.\n- Preserve original terminology used in the documents.\n- Do not mention the retrieval process or vector database.\n\nYou are a trusted knowledge assistant. Accuracy is more important than completeness.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        608
      ],
      "id": "ade50559-d786-4092-96ea-3e8b2d2d90f7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        816
      ],
      "id": "af5001d3-8c7f-4fa5-b1fa-0a4259589fd1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "LwtvCT8SWksAwiTk",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        288,
        816
      ],
      "id": "63823624-260e-45af-80f5-b94ab736cabb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Use this tool to get any information asked by the user"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        432,
        816
      ],
      "id": "56747a68-9a85-4f38-9398-2bcd1b66013b",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "resumetest",
          "mode": "list",
          "cachedResultName": "resumetest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        320,
        1024
      ],
      "id": "7f1613ce-6be1-46de-b57e-f9c4f9692b35",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "sOSIbGv1fG8jWjng",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        416,
        1232
      ],
      "id": "ef307caf-15c7-45d6-a600-7865ceaec0c0",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "e3Kx59bDOlJ1gYbK",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        736,
        1024
      ],
      "id": "e45a5faf-fa58-4468-ac3b-a0a722a96602",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "e3Kx59bDOlJ1gYbK",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ecdda724-5db6-4439-932b-a49b592ae904",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2c1e04696e0f33c768eb745be352231d38fb23227ba7be41a801521557491505"
  },
  "id": "2TYZ-ZzBIdmK3zKoHEqib",
  "tags": []
}