AI Research Knowledge Byte Generator/AI Knowledge Byte Generator _Final.json
{
  "name": "AI Knowledge Byte Generator _Final",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1a33745d-c5ad-4161-93d1-8dda071e1055",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8832bc21-3838-41e1-9b1c-d3085aa23505",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        624
      ],
      "webhookId": "1a33745d-c5ad-4161-93d1-8dda071e1055"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "topic",
              "value": "={{ $json.body.topic }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "recipientEmails",
              "value": "={{ $json.body.recipients || 'mindmintuser7@gmail.com' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "812b875f-3666-42d8-92cb-1bce75de8504",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        640
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"title\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Catchy title for the knowledge byte\"\n\t\t},\n\t\t\"description\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Clear 2-3 sentence explanation of the topic.Focus on business value, impact, or risk reduction\"\n\t\t},\n      \"Howitworks\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t},\n\t\t\t\"description\": \"3–4 bullets about how it works,Describe the flow conceptually,Avoid deep technical jargon\"\n\t\t},\n\t\t\"interestingFacts\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t},\n\t\t\t\"description\": \"3-4 interesting facts about the topic\"\n\t\t},\n\t\t\"realUseCase\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Latest 2-3 real-world enterprise- relevant use case or application with specific example,Prefer internal, B2B, or platform use cases\"\n\t\t},\n      \"Key takeaway\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"One short, memorable sentence\"\n\t\t}\n\t}\n}"
      },
      "id": "53d11b7c-3bf8-4034-b84d-48e014cf2f22",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        768,
        880
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Research the topic: {{ $('Webhook Trigger').item.json.body.topic }}. Create a knowledge byte with: 1. What is it?\n- 1–2 simple lines defining the topic in plain English\n\n2. Why should you care?\n- 2–3 bullet points\n- Focus on business value, impact, or risk reduction\n\n3. How it works (High-level):\n- 3–4 bullets\n- Describe the flow conceptually\n- Avoid deep technical jargon\n\n4. Where is it used?\n- 2–3 practical, enterprise-relevant examples\n- Prefer internal, B2B, or platform use cases\n\n5. Key takeaway:\n- One short, memorable sentence\n\n\nConstraints:\n- Keep total length under 200 words\n- Use bullet points where possible\n- Be neutral and factual\n- Assume the reader is smart but not an AI expert",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a knowledge curator creating precise, engaging content for technical professionals. Your task is to research topics thoroughly and create well-structured knowledge bytes. Focus on accuracy, latest information, and professional presentation. Use the available tools to gather comprehensive and current information."
        }
      },
      "id": "28b0807e-38dc-4dd3-8af1-0f1b60cf334b",
      "name": "AI Research Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        528,
        656
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\" />\n<title>Knowledge Byte</title>\n\n<style>\n/* Global */\nbody{\n  font-family: Arial, sans-serif;\n  background:#f4f6fb;\n  margin:0;\n  padding:40px;\n}\n\n/* Container */\n.container{\n  max-width:800px;\n  margin:0 auto;\n  background:#ffffff;\n  padding:40px;\n  border-radius:14px;\n  box-shadow:0 12px 35px rgba(0,0,0,0.12);\n}\n\n/* Title */\nh1{\n  font-size:30px;\n  font-weight:700;\n  color:#5e35b1;\n  margin-top:0;\n  border-bottom:3px solid #5e35b1;\n  padding-bottom:14px;\n}\n\n/* Description */\n.description{\n  font-size:17px;\n  line-height:1.7;\n  color:#333;\n  margin:22px 0 32px;\n}\n\n/* Unified section */\n.info-section{\n  padding:24px;\n  margin:28px 0;\n  border-radius:10px;\n  background:#f9fafc;\n  border-left:6px solid;\n}\n\n/* Section heading */\n.info-section h2{\n  margin:0 0 14px;\n  font-size:22px;\n  font-weight:600;\n  display:flex;\n  align-items:center;\n  gap:10px;\n}\n\n/* Body text */\n.info-section p,\n.info-section li{\n  font-size:16px;\n  line-height:1.6;\n  color:#333;\n  margin:8px 0;\n}\n\n/* Lists */\n.info-section ul{\n  margin:0;\n  padding-left:18px;\n}\n\n/* Color variants */\n.how-it-works{\n  border-color:#7e57c2;\n  background:#f3effc;\n}\n.how-it-works h2{ color:#7e57c2; }\n\n.facts{\n  border-color:#5c6bc0;\n  background:#f1f3ff;\n}\n.facts h2{ color:#5c6bc0; }\n\n.use-case{\n  border-color:#fb8c00;\n  background:#fff3e0;\n}\n.use-case h2{ color:#fb8c00; }\n\n.takeaway{\n  border-color:#43a047;\n  background:#e8f5e9;\n}\n.takeaway h2{ color:#43a047; }\n</style>\n</head>\n\n<body>\n<div class=\"container\">\n\n  <!-- Title -->\n  <h1>{{ $('AI Research Agent').item.json.output.title }}</h1>\n\n  <!-- Description -->\n  <div class=\"description\">\n    {{ $('AI Research Agent').item.json.output.description }}\n  </div>\n\n  <!-- How it works -->\n  <div class=\"info-section how-it-works\">\n    <h2>⚙️ How it works</h2>\n    <ul>\n      {{\n        $('AI Research Agent').item.json.output.Howitworks\n          .map(step => `<li>${step}</li>`)\n          .join('')\n      }}\n    </ul>\n  </div>\n\n  <!-- Interesting Facts -->\n  <div class=\"info-section facts\">\n    <h2>💡 Interesting Facts</h2>\n    <ul>\n      {{\n        $('AI Research Agent').item.json.output.interestingFacts\n          .map(fact => `<li>${fact}</li>`)\n          .join('')\n      }}\n    </ul>\n  </div>\n\n  <!-- Real-World Use Case -->\n  <div class=\"info-section use-case\">\n    <h2>🚀 Real-World Use Case</h2>\n    <p>\n      {{ $('AI Research Agent').item.json.output.realUseCase }}\n    </p>\n  </div>\n\n  <!-- Key Takeaway -->\n  <div class=\"info-section takeaway\">\n    <h2>🔑 Key Takeaway</h2>\n    <p>\n      {{ $('AI Research Agent').item.json.output['Key takeaway'] }}\n    </p>\n  </div>\n\n</div>\n</body>\n</html>\n"
      },
      "id": "c916b4a5-d024-4ec6-954a-31b2d21d6f70",
      "name": "Create HTML Knowledge Byte",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        944,
        656
      ]
    },
    {
      "parameters": {
        "sendTo": "=aswaniann@gmail.com",
        "subject": "={{ 'Knowledge Byte: ' + $('AI Research Agent').item.json.output.title }}",
        "message": "=Hi Team,<br><br>Here is your latest Knowledge Byte on {{ $('Webhook Trigger').item.json.body.topic }}.<br><br>{{ $json.html }}",
        "options": {}
      },
      "id": "d6e2802e-c720-443b-8f3c-089b1aa153fe",
      "name": "Send Knowledge Byte Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1376,
        656
      ],
      "webhookId": "d4d78a00-acc9-4083-b833-5a9e687ed4bd",
      "credentials": {
        "gmailOAuth2": {
          "id": "mEywCmsI1YNEzJ3d",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        256,
        640
      ],
      "id": "99492a18-b015-41d4-aef1-b9d4da45862e",
      "name": "Wait",
      "webhookId": "e137724e-0943-4fcd-9fcc-98f83a379082"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        384,
        864
      ],
      "id": "63f2f510-c489-4805-925a-059b3172ce6e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "e3Kx59bDOlJ1gYbK",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "={{ $json.html }}"
              }
            ]
          }
        }
      },
      "id": "be9935da-0dbe-48d0-9b58-81fb1200519c",
      "name": "Respond to UI",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1408,
        1296
      ],
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          },
          "responseKey": "={{ $json.html }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1408,
        912
      ],
      "id": "3e1e7d11-396f-4726-aaf2-e05b7f7a338d",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Research Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Research Agent": {
      "main": [
        [
          {
            "node": "Create HTML Knowledge Byte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HTML Knowledge Byte": {
      "main": [
        [
          {
            "node": "Send Knowledge Byte Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Respond to UI": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "aaa373ea-b52c-4988-aa73-0c26126aa27a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2c1e04696e0f33c768eb745be352231d38fb23227ba7be41a801521557491505"
  },
  "id": "4gMGKP12iBCU97KU",
  "tags": []
}